.recipe-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.recipe-wrapper h2 {
  font-size: 16px;
}
.ingredient-list-wrapper {
  padding: 20vh 36px 0 36px;
  background-color: var(--grey);
}

.ingredient-list,
.step-list {
  list-style: none;
  padding: 0;
}

.ingredient-list li {
  height: 56px;
  padding: 12px;
  margin-bottom: 12px;
  background-color: white;

  display: grid;
  grid-template-columns: auto 2fr 1fr;
  align-items: center;
  gap: 12px;
}

.ingredient-list p,
.step-list p {
  margin: 0;
}

.portion-text {
  text-align: end;
}

.step-wrapper {
  padding: 20vh 36px 0 36px;
}

.step-list li {
  height: 44px;
  padding: 0 8px;
  margin-bottom: 8px;
  background-color: var(--grey);

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.step-list button {
  width: 56px;
  height: 28px;
  color: white;
  background-color: black;
  border-radius: 48px;
  border: none;
  font-family: "Archivo Black", sans-serif;
  cursor: pointer;
}
