.calculator-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.ingredients-wrapper {
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: end;
}

.ingredient {
  /* height: 10%; */
  display: grid;
  justify-content: center;
  align-items: end;
  position: relative;
  z-index: -1;
}

.portion-wrapper {
  width: 200px;
  height: 64px;
  margin: 20px;
  color: white;
  background-color: black;
  border-radius: 48px;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  position: absolute;
  left: 40px;
}

.portion {
  text-align: center;
}

.icon {
  width: 32px;
  margin: 2px 0 0 16px;
}

.starter {
  background-color: var(--yellow);
}

.water {
  background-color: var(--blue);
}

.salt {
  background-color: var(--grey);
}

.flour {
  background-color: var(--brown);
}

.calculator-footer {
  width: 100vw;
  height: 15vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.doughweight-form {
  margin-right: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 20px;
  place-items: center;
}

#doughweight {
  width: 200px;
  height: 64px;
  padding: 8px 44px 8px 8px;
  color: black;
  background-color: var(--grey);
  border: none;
  border-radius: 48px;
  font-family: "Archivo Black", sans-serif;
  font-size: 16px;
  text-align: center;
}

#doughweight-btn {
  width: 44px;
  height: 44px;
  margin-left: -106px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 50%;
  font-family: "Archivo Black", sans-serif;
  cursor: pointer;
}

#doughweight-btn:hover {
  background-color: var(--blue);
}
