main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.ingredient {
  height: 100vh;
  opacity: 0.1;
}

.starter {
  background-color: yellow;
}

.water {
  background-color: blue;
}

.salt {
  background-color: grey;
}

.flour {
  background-color: beige;
}
